$main-font-color: #464646;
$bg-footer: #464646;
$bg-yellow: #f0c52e;
$bg-light-yellow: #f7e296;
$bg-grey: #dcdcdc;
$bg-light-grey: #eeeeee;
$bg-invalid: #f6dada;
$black: #000000;
$white: #ffffff;
$font-gilroy: "Gilroy", "Arial", sans-serif;
