// Font-color
$btn-color: #000000;
$btn-hover-color: #000000;
$btn-active-color: rgba($btn-color, 0.3);
// Background-color
$btn-bg-color: #f0c52e;
$btn-hover-bg-color: #f0c52e;
$btn-active-bg-color: #f0c52e;
// Border-color
$btn-border-color: #000000;
$btn-hover-border-color: #000000;
$btn-active-border-color: #000000;
// Font
$btn-font-family: "Gilroy", "Arial", sans-serif;
$btn-font-weight: 800;

.btn {
  position: relative;

  display: block;

  font-weight: $btn-font-weight;
  font-family: $btn-font-family;
  text-align: center;
  color: $btn-color;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  transition: color 0.1s linear;

  -webkit-tap-highlight-color: transparent;

  &:active {
    color: $btn-active-color;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-color: $btn-bg-color;
    transform: scaleY(0.2);

    transition: transform 0.1s linear, background-color 0.1s linear;
  }

  &:hover::before,
  &:focus::before {
    transform: scaleY(1);
  }
}
