.page-footer {
  min-width: 1200px;

  background-color: $bg-footer;
}

.page-footer__wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 59px;
  padding-bottom: 65px;

  @include container;
}

.page-footer__left-column {
  position: relative;

  width: 260px;
  margin-right: 100px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: #ffc600;
  }
}

.page-footer__logo {
  margin: 0;
  margin-bottom: 22px;
}

.page-footer__address {
  margin: 0;
  margin-bottom: 84px;

  font-weight: 300;
  color: $white;
}

.page-footer__middle-column {
  width: 440px;
  margin-right: 35px;
  padding-top: 73px;
  padding-right: 10px;
  padding-left: 7px;
}

.page-footer__main-nav {
  margin-bottom: 61px;

  .main-nav__item {
    margin-right: 33px;
  }

  .main-nav__link {
    color: $white;

    &:hover,
    &:focus {
      color: rgba($white, 0.6);
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}

.page-footer__right-column {
  width: 325px;
}

.page-footer__user-nav {
  margin-bottom: 34px;
  .user-nav__link {
    color: rgba($white, 0.7);

    &:hover,
    &:focus {
      color: rgba($white, 1);
    }

    &:active {
      color: rgba($white, 0.3);
    }

    &:hover .user-nav__icon,
    &:focus .user-nav__icon {
      fill: rgba(#ffc600, 0.6);
    }

    &:active .user-nav__icon {
      fill: rgba(#ffc600, 0.3);
    }
  }
  .user-nav__icon {
    fill: #ffc600;
  }
}

.page-footer__phone {
  margin: 0;
  margin-bottom: 62px;

  text-align: right;

  a {
    color: $white;

    outline: none;

    transition: color 0.1s linear;

    &:hover,
    &:focus {
      color: rgba($white, 0.6);
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}

.page-footer__copyright {
  margin: 0;

  a {
    display: block;
    width: 27px;
    height: 35px;
    margin-left: auto;

    background-image: url("../img/logo-html.svg");
    background-repeat: no-repeat;
    background-position: center;
    outline: none;

    transition: opacity 0.1s linear;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
