.page-header__wrapper {
  padding-top: 40px;

  @include container;
}

.page-header__inner {
  position: relative;

  padding: 35px 60px 160px;

  background-color: $bg-light-yellow;
}

.page-header__logo {
  position: absolute;
  top: -24px;
  left: 60px;

  margin: 0;
}
