.partners {
  margin-bottom: 34px;
}

.partners__wrapper {
  @include container;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 74px;
  padding-bottom: 50px;

  list-style: none;
}

.partners__item {
  margin-right: 40px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.partners__link {
  outline: none;

  &:hover .partners__logo,
  &:focus .partners__logo {
    opacity: 1;
    filter: grayscale(0%);
  }
}

.partners__logo {
  opacity: 0.2;
  filter: grayscale(100%);

  transition: filter 0.15s linear, opacity 0.15s linear;
}
